<table>
<% @categories.in_groups_of(3, false) do |categories| %>

   
      <tr>
      <% categories.each do |category| %>
        <td> <%= link_to(category.name, "##{category.name}") %></td> 
		
      
        <% end %>
      </tr>
  
   <% end %>
  
</table>


 <% @categories.each do |category| %>
 
 <hr>
 
      <h4><%= content_tag(:a, category.name,  :name => category.name) %></h4> 
      <p style="color: #CCCCCC; font-size: 8px;"> <a href="#Categories">back to top</a></p>
     
      <% category.memberships.each do |member| %>
	  
	  <table style="width:400; margin-bottom:10px">
	  <tr>
		<td style="font-weight:bold; color:#000000"><%= member.company_name %></td>
	  </tr>
	  <tr>
		<td>Name: <%= member.name %></td>
	  </tr>
	  <tr>
		<td>Phone: <%= member.phone %></td>
	  </tr>
	  <tr>
		<td style="font-style: italic"><%= member.description %></td>
	  </tr>
	  
	
		<tr>
       <td><%= link_to(member.website, "http://#{member.website}", :target => "_blank") %></td>
        </tr>
		
	</table>
       
       <% end %>
     
     
  <% end %>   
     
   