<!DOCTYPE html>
<html>
<head>
  <title>CsvFile</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="left_sidebar">
  <p><%= link_to "Home" , home_index_path %></p>


   <p><%= link_to "Memberships" , memberships_path %></p>
   <p><%= link_to "Categories", categories_path %></p>
</div>  
  
<div class="content">  

<%= yield %>


</div>




<footer>
  
 
  </footer>

</body>
</html>
